@using Service.Models.DTOs;
@model VehicleModelDTO

@{
    ViewData["Title"] = "Create Vehicle Model";
}

<h1>Create</h1>

<form asp-action="AddModel">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Abrv"></label>
        <input asp-for="Abrv" class="form-control" />
        <span asp-validation-for="Abrv" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MakeId"></label>
        <select asp-for="MakeId" class="form-control" asp-items="@ViewBag.Makes"></select>
        <span asp-validation-for="MakeId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a asp-action="Index">Back to Model Admin View</a>
<a asp-action="Index1">Back to Home</a>