@using Service.Models.DTOs;
@model IEnumerable<VehicleModelDTO>

<h1>Vehicles</h1>
<br />

@using (Html.BeginForm("Index1", "VehicleModel", FormMethod.Get))
{
    <div class="form-group">
        <label for="MakeName">Filter by Make Name:</label>
        <input type="text" name="MakeName" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Filter</button>
}

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Abbreviation</th>
            <th>Make</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var mody in Model)
        {
            <tr>
                <td>@mody.Id</td>
                <td>@mody.Name</td>
                <td>@mody.Abrv</td>
                <td>@mody.MakeName</td>         
            </tr>
        }
    </tbody>
</table>
